$ColorPrimary : #fff;
 $ColorSecundary : #0076F5;
 $ColorText : #4F4F4F;
 $ColorTextFondo:#fff;
 $FamilyFont : 'Roboto', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
 @mixin FormStyle {
     color: $ColorText;
     font-weight: 300;
}
 @mixin button {
     width:20rem;
    margin:auto;
    height: 3rem;
     &::placeholder{
         @include FormStyle;
    }
     margin-bottom: 1rem;
     label{
         @include FormStyle;
    }
}
 .notValidate{
     border: 1px solid red !important;
     &::placeholder{
        color: red !important;
    }
}


 .classError{      
     width:20rem;
    margin:auto;
}
 .input-group,.form-check{
     @include button;
}
 #txtDocumento,#txtCelular,#txtFecha{
     @include FormStyle;
}
 #txtFecha,#txtCelular,.guardar{
     @include button;
}
 #buttonIngresar{
     color: $ColorTextFondo !important;
     padding: 1rem 2rem 1rem 2rem;
     font-weight: 400;
     font-size: 1.2rem;
     &:hover{
         opacity: 0.8;
    }
}
 *{
     font-family: $FamilyFont;
}
 .btn-outline-secondary{
     @include FormStyle;
     a{
         @include FormStyle;
    }
}
 .gdb-entry__subtitle{
     padding: 8rem 7rem 8rem 8rem;
     height: 100vh;
     span{
         color : $ColorTextFondo;
    }
     .title{
         color : $ColorTextFondo;
         font-size: 4.5rem;
         font-weight: 100;
         font-family: $FamilyFont;
    }
     ul{
         margin-top: 2rem;
         margin-bottom: 10rem;
         li{
             padding-left: 1rem;
             list-style: none;
             font-size: 1.5rem;
             color : $ColorTextFondo;
             font-weight: 100;
             font-family: $FamilyFont;
             margin-bottom: 2rem;
             span img{
                 margin-right: .5rem;
                 width: 25px;
            }
        }
    }
}

 figure{
     background-image: url(../../../assets/img/Base.png);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
}
 .imgFondo{
}
 .ContainerPr{
     padding: 0;
}
 