<div class="ContainerPr animate__animated animate__fadeIn" >
   <div class="row" style="margin-right: 0px;">
      <div class="col-lg-6">
         <div class="fondoImg" >
            <figure class="gdb-entry__featured-image has-subtitle">
               <figcaption  class="gdb-entry__subtitle">
                  <span class="title">Seguro de <b>Salud</b></span>
                  <div class="col-lg-4">
                     <img  style="width: 25rem;"  src="../../../assets/img/logo_universidadSAlle.png" alt="">
                     </div>
                  <div class="list">
                     <ul>
                        <li><span><img src="../../../assets/img/gl_shield-20x20.png" alt=""></span>Activalo de manera fácil y rápida</li>
                        <li><span><img src="../../../assets/img/gl_mobile-20x20-1.png" alt=""></span>Consulta y activa tu seguro 100% Digital</li>
                        <li><span><img src="../../../assets/img/gl_shield-20x20.png" alt=""></span>Hasta S/12 Millones  de cobertura anual</li>
                        <li><span><img src="../../../assets/img/gl_mobile-20x20-1.png" alt=""></span>Mas de 300 clinicas en el Perú</li>
                     </ul>
                  </div>
                  <span >
                  @2021 RIMAC Seguros y Reseguros
                  </span>
               </figcaption>
            </figure>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="container" style="margin-top: 15%;">
            <div class="titleForm " style="text-align: center;">
               <h2>Activa tu <span>seguro ahora</span></h2>
               <p>Ingresa tus datos para comenzar</p>
            </div>
            <br>
            <form #forma = "ngForm" >
               <small  *ngIf="txtDocumentoV.invalid && txtDocumentoV.touched"
                  class="form-text text-danger classError">Debe ingresar minimo 8 caracteres</small>
               <div class="input-group mb-3" style="margin-bottom:0px; !important"  >
                  <div class="input-group-prepend">
                     <button class="btn btn-outline-secondary dropdown-toggle" style="border: 1px solid #ced4da;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        [class.notValidate]="txtDocumentoV.invalid && txtDocumentoV.touched" >DNI</button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" >DNI</a>
                        <a class="dropdown-item" >RUC</a>
                     </div>
                  </div>
                  <input type="text" 
                  style="height: 3rem;" 
                  [(ngModel)] ="this._user.NroDocumento"
                  [minlength] = "8"
                  id="txtDocumento" 
                  name="documento"
                  placeholder="N° Documento"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                  required
                  #txtDocumentoV="ngModel" [class.notValidate]="txtDocumentoV.invalid && txtDocumentoV.touched" >
                  <br>
               </div>
               <small  *ngIf="txtFechaNacV.invalid && txtFechaNacV.touched"
               class="form-text text-danger classError">Debe ingresar minimo 10 caracteres</small>
        
               <input type="text" style="height: 3rem;" id="txtFecha" placeholder="Fecha de Nacimiento" class="form-control"
               
               [minlength] = "10"
               [(ngModel)] ="this._user.FechaNacimiento"
               name="fecha"
               required
               #txtFechaNacV="ngModel" [class.notValidate]="txtFechaNacV.invalid && txtFechaNacV.touched"
               
               aria-label="Text input with dropdown button">
               <small  *ngIf="txtCelularV.invalid && txtCelularV.touched"
                  class="form-text text-danger classError">Debe ingresar minimo 9 caracteres</small>
               <input type="text" style="height: 3rem;"
               id="txtCelular" 
               placeholder="Celular"
               class="form-control"
               [minlength] = "9"
               [(ngModel)] ="this._user.Celular"
               name="celular"
               required
               #txtCelularV="ngModel" [class.notValidate]="txtCelularV.invalid && txtCelularV.touched" >
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                  [(ngModel)] ="this._user.Acept1"
                  name="Acept1"
                  >
                  <label class="form-check-label" for="defaultCheck1">
                  Acepto la politica de Proteccion de datos personales y los terminos y condiciones
                  </label>
               </div>
               <div class="form-check">
                  <input  
                  [(ngModel)] ="this._user.ACept2"
                  name="Acept2"
                  class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                  <label    class="form-check-label" for="defaultCheck2">
                  Acepto la politica de envio de comunicaciones comerciales
                  </label>
               </div>
               <div class="guardar">
                  <button (click) = "this.InitialProcess(forma)" class="btn btn-primary" id="buttonIngresar" type="submit">Comenzamos</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>