$ColorPrimary : #fff;
 $ColorSecundary : #0076F5;
 $ColorText : #4F4F4F;
 $ColorTextFondo:#fff;
 $FamilyFont : 'Roboto', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
 @mixin FormStyle {
     color: $ColorText;
     font-weight: 300;
}
 @mixin button {
     width:30rem;
    margin:auto;
    height: 3rem;
     &::placeholder{
         @include FormStyle; 
        line-height:normal;
    }
    
     margin-bottom: .5rem;
     label{
         @include FormStyle;
    }
}
.textCenter{
    margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
}
.TextFinale{
    display: inline-flex;font-size: 2.5rem;
}
 .notValidate{
     border: 1px solid red !important;
     &::placeholder{
        color: red !important;
    }
}

#buttonContinuar{
    padding: .5rem 2rem .5rem 2rem;
}

figure{
    background-image: url(../../../assets/img/Base.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
ul{
    
    li{    
        list-style: none;
        margin-top: .5rem;
        span {
            font-size: 1rem;
            img{
                width: 1.2rem;margin-right: 1rem;
            }
        }
    }
}
.ContainerPr{
    padding: 0;
}

.gdb-entry__subtitle{
 
    background-image: url(../../../assets/img/Illustration-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
}
html{
    min-height:100%;
    position:relative;
}
#txtDocumento,#txtCelular,#txtFecha{
    @include FormStyle;
}
.input-group,.form-check{
    @include button;
}
form .form-center{
    @include button;
}
.form-center{
    @include button;
}
.titleForm{
    margin-bottom: 5%;
}
.ContainerCombo{
    font-size: 1.2rem;font-weight: 100;margin-bottom: 0px;
}

.gridBeneficios{
  margin: 0 auto;
  max-width: 50em;
  padding: 0;
}









/* Custom Radio Button Start*/

.radiotextsty {
    color: #4F4F4F;
    font-size: 18px;
  }
  
  .customradio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    border:1px solid #BEBEBE;
  }
  
  /* On mouse-over, add a grey background color */
  .customradio:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  
  /* When the radio button is checked, add a blue background */
  .customradio input:checked ~ .checkmark {
    background-color: white;
    border:1px solid #0076F5;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .customradio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0076F5;
  }
  
  /* Custom Radio Button End*/
































  :root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

body {
  background-color: #f2f8ff;
  color: #263238;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 2em 6vw;
}

.grid {
  display: grid;
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 50em;
  padding: 0;
 
  @media (min-width: 42em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: 0.5em;
  position: relative;
  
  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(1em + 1em);
  top: calc(1em + 1em);
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) { 
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 2px  solid #e2ebf6;
    border-radius: 50%;
    cursor: pointer;
    height:  1.5em;
    outline: none;
    transition: 
      background 0.2s ease-out,
      border-color 0.2s ease-out;
    width:  1.5em;; 

    &::after {
      border:  2px solid #fff;
      border-top: 0;
      border-left: 0;
      content: '';
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: 
        rotate(45deg)
        translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: #558309;
      border-color: #558309;
    }
  }
  
  .card:hover .radio {
    border-color: #c4d1e1;
    
    &:checked {
      border-color: #558309;
    }
  }
}

.plan-details {
  border:  2px solid #e2ebf6;
  border-radius:0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: border-color 0.2s ease-out;
}

.card:hover .plan-details {
  border-color:  #c4d1e1;
}

.radio:checked ~ .plan-details {
  border-color: #558309;
}

.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px  #c4d1e1;
}

.radio:disabled ~ .plan-details {
  color: #c4d1e1;
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color:  #c4d1e1;
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: #e2ebf6;
  box-shadow: none;
}

.card:hover .radio:disabled {
    border-color: #e2ebf6;
  }

.plan-type {
    font-weight: 300;
  color: $ColorText;
  font-size: 1.5rem;
  
  line-height: 1em;
}

.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}