<div class="ContainerPr animate__animated animate__fadeIn" >
    <div class="row" style="margin-right: 0px;">
       <div class="col-lg-4">
          <div class="fondoImg" >
             <figure class="gdb-entry__featured-image has-subtitle">
                <figcaption  class="gdb-entry__subtitle">
                   <span class="title"></span>
                  
                      <div class="col-lg-4">
                      <img  style="width: 33rem; margin-top: 219px;"  src="../../../assets/img/logo_universidadSAlle.png" alt="">
                      </div>
                  
                </figcaption>
             </figure>
          </div>
       </div>
       <div class="col-lg-8">
        <div class="container" style="margin-top: 3%;">
            <div class="SectionPasos form-center">
                        <div style="display: inline-flex;cursor: pointer;" (click) ="returnHome()" >
                            <span  style="color: #0076F5;margin-right: .2rem;" >PASO {{PasoNumero }} </span>        
                            <p> DE 3</p>
                        </div>
                    
            </div>
            <div class="SectionFinal ContainerPr animate__animated animate__fadeIn" style="height: 100vh;" *ngIf="flgPlanes ==2"  >
                <div class="textCenter">
                    <span class="TextFinale">!Gracias por confiar en nosotros,<p style="margin-left: .5rem;color: #0076F5;">Siempre contigo!</p></span>
                    <span class="TextFinale"style="margin-left: 200px">Universidad de La Salle</span>
                    
                    <br>
                    <span>Queremos conocer mejor la salud de los asegurados.Un asesor se pondra en contacto contigo en un plazo de 48 horas</span>
                    <div class="guardar">
                        <button (click) = "this.returnHome()" style="margin-top: 2rem;float: right;" class="btn btn-primary" id="buttonIngresar" type="submit">IR A SALUD</button>
                     </div>
                </div>

                
                
            </div>
            <div class="SectionPlanes ContainerPr animate__animated animate__fadeIn" *ngIf="flgPlanes ==1"  >
                <div class="titleForm " style="text-align: center;">
                    <h2>Elige <span> Tu protección</span></h2>
                    <p>Selecciona tu plan de salud ideal</p>
                 </div>
                 <form #formPlan="ngForm">
                    <div class="grid">
                        <label class="card">
                          <input name="plan" (change)="changePlan()" [(ngModel)] ="this.flgPlanSeleccionado" value="1" class="radio" type="radio" checked>
                          
                          <span class="plan-details">
                            <span class="plan-type">Basico</span>
                            <span class="plan-cost">S/ 50</span>
                            <span>Mensual</span>
                            
                          </span>
                        </label>
                        <label class="card">
                            <input name="plan" (change)="changePlan()"  [(ngModel)] ="this.flgPlanSeleccionado" value="2" class="radio" type="radio" checked>
                            
                            <span class="plan-details">
                              <span class="plan-type">Avanzado</span>
                              <span class="plan-cost">S/ 100</span>
                              <span>Mensual</span>
                              
                            </span>
                          </label>
                          <label class="card">
                            <input name="plan"  (change)="changePlan()" [(ngModel)] ="this.flgPlanSeleccionado" value="3" class="radio" type="radio" checked>
                            
                            <span class="plan-details">
                              <span class="plan-type">Premium</span>
                              <span class="plan-cost">S/ 200</span>
                              <span>Mensual</span>
                              
                            </span>
                          </label>
                          <label class="card">
                            <input name="plan"  (change)="changePlan()" [(ngModel)] ="this.flgPlanSeleccionado" value="4"  class="radio" type="radio" checked>
                            
                            <span class="plan-details">
                              <span class="plan-type">Full</span>
                              <span class="plan-cost">S/ 250</span>
                              <span>Mensual</span>
                              
                            </span>
                          </label>

                      
                        
                      </div>
                  <br>
                      <div class="card gridBeneficios  ">
                        <h5 class="card-header"><p>{{this.NombrePlan}}</p></h5>
                        <div class="card-body">
                            <div class="cobertura" style="border-bottom: 1px solid #D5D5D5;">
                                <div class="row" style="padding: 2rem;">
                                    <div class="col-lg-7" style="border-right: 1px solid #D5D5D5 ;">
                                        <h4 style="margin-bottom: .5rem;font-size: 1rem;">Cobertura maxima</h4>
                                       
                                        <H3>{{this.Millones}}MS</H3>
                                    </div>
                                    <div class="col-lg-4">
                                            <img  style="width: 7rem;float:right;"  src="../../../assets/img/Illustration.png" alt="">
                                    </div>
                                </div>
                            </div>
                          <br>
                          <ul>
                            <li><span><img src="../../../assets/img/images.png" alt=""></span>Arequipa (Zona de Coberturas)</li>
                            <li><span><img src="../../../assets/img/images.png" alt=""></span>+30 Clinicas (Con red afiliada)</li>
                            <li><span><img src="../../../assets/img/images.png" alt=""></span>Medico a domicilio</li>
                            <li><span><img src="../../../assets/img/images.png" alt=""></span>Chequeo preventivos</li>
                         </ul>
                         
                        </div>
                      
                      </div>
                      <br>
                      <div class="gridBeneficios guardar ">
                        <button (click) = "this.finalProcess()" style="float: right;" class="btn btn-primary" id="buttonIngresar" type="submit">Activa tu Plan</button>
                     </div>
                 </form>
            </div>
            <div class="SectionDatos" *ngIf="flgPlanes == 0" >
                <div class="titleForm " style="text-align: center;">
                    <h2>Hola,  <span>Querido Alumn@</span></h2>
                    <p>Valida que los datos sean correctos</p>
                 </div>
                 <form #form = "ngForm" >
                     <span class="input-group" style="font-size: 1.2rem;font-weight: 100;margin-bottom: 0px;">Datos personales del titular</span>
                     <small  *ngIf="txtDocumentoV.invalid && txtDocumentoV.touched"
                     class="form-text text-danger classError">Debe ingresar minimo 8 caracteres</small>
                  <div class="input-group mb-3" style="margin-bottom:0px; !important"  >
                     <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle" style="border: 1px solid #ced4da;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           [class.notValidate]="txtDocumentoV.invalid && txtDocumentoV.touched" >DNI</button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" >DNI</a>
                           <a class="dropdown-item" >RUC</a>
                        </div>
                     </div>
                     <input type="text" 
                     style="height: 3rem;" 
                     [(ngModel)] ="this._user.NroDocumento"
                     [minlength] = "8"
                     id="txtDocumento" 
                     name="documento"
                     placeholder="N° Documento"
                     class="form-control"
                     aria-label="Text input with dropdown button"
                     required
                     #txtDocumentoV="ngModel" [class.notValidate]="txtDocumentoV.invalid && txtDocumentoV.touched" >
                     <br>
                  </div>
     
     
                  <small  *ngIf="txtNombresV.invalid && txtNombresV.touched"
                  class="form-text text-danger classError">Debe ingresar minimo 5 caracteres</small>
                 <input type="text" style="height: 3rem;"
                 id="txtNombres" 
                 placeholder="Nombres"
                 class="form-control form-center"
                 [minlength] = "5"
                 [(ngModel)] ="this._user.nombre"
                 name="Nombres"
                 required
                 #txtNombresV="ngModel" [class.notValidate]="txtNombresV.invalid && txtNombresV.touched" >
     
                 <small  *ngIf="txtApellidoPV.invalid && txtApellidoPV.touched"
                 class="form-text text-danger classError">Debe ingresar minimo 5 caracteres</small>
                <input type="text" style="height: 3rem;"
                id="txtApellidoP" 
                placeholder="Apellido Paterno"
                class="form-control form-center"
                [minlength] = "5"
                [(ngModel)] ="this._user.apellidoP"
                name="ApellidoP"
                required
                #txtApellidoPV="ngModel" [class.notValidate]="txtApellidoPV.invalid && txtApellidoPV.touched" >
     
              
                <small  *ngIf="txtApellidoMV.invalid && txtApellidoMV.touched"
                class="form-text text-danger classError">Debe ingresar minimo 5 caracteres</small>
               <input type="text" style="height: 3rem;"
               id="txtApellidoM" 
               placeholder="Apellido Materno"
               class="form-control form-center"
               [minlength] = "5"
               [(ngModel)] ="this._user.appelidoM"
               name="ApellidoM"
               required
               #txtApellidoMV="ngModel" [class.notValidate]="txtApellidoMV.invalid && txtApellidoMV.touched" >
     
     
               <small  *ngIf="txtFechaNacV.invalid && txtFechaNacV.touched"
               class="form-text text-danger classError">Debe ingresar minimo 10 caracteres</small>
              <input type="text" style="height: 3rem;"
              id="txtFecha" 
              placeholder="Fecha Nacimiento"
              class="form-control form-center"
              [minlength] = "10"
              [(ngModel)] ="this._user.FechaNacimiento"
              name="Fecha Nac"
              required
              #txtFechaNacV="ngModel" [class.notValidate]="txtFechaNacV.invalid && txtFechaNacV.touched" >
     
              <div class="genero form-center ContainerCombo" style="margin-top: 2rem;">
                     <span class="font-weight:400">Genero</span><br>
                     <div class="form-check-inline" style="margin-top: 1rem;">
     
                         <label class="customradio"><span class="radiotextsty">Masculino</span>
                           <input type="radio" checked name="radioGen"  [(ngModel)] = "this._user.Genero" value="1">
                           <span class="checkmark"></span>
                         </label>        
                         <label class="customradio"><span class="radiotextsty">Femenino</span>
                           <input type="radio" name="radioGen"  [(ngModel)] = "this._user.Genero" value="2">
                           <span class="checkmark"></span>
                         </label>
     
                     </div>
              </div>
              <div class="genero form-center ContainerCombo" style="margin-top: 3rem;">
                 <span class="font-weight:400">¿A quien vamos a asegurar?</span><br>
                 <div class="form-check-inline" style="margin-top: 1rem;">
     
                     <label class="customradio"><span class="radiotextsty">Solo a mí</span>
                       <input  type="radio" [checked] = "true"  [(ngModel)] = "this._user.FlgAsegurar" name="radioAse" value="1">
                       <span class="checkmark"></span>
                     </label>        
                     <label class="customradio"><span class="radiotextsty">a mi y mi familia</span>
                       <input type="radio" name="radioAse" [(ngModel)] = "this._user.FlgAsegurar" value="2">
                       <span class="checkmark"></span>
                     </label>
     
                 </div>
          </div>
           <br><br>
             <div class="guardar form-center">
                 <button (click) = "this.ContinueProcess(form)" class="btn btn-primary" id="buttonContinuar" type="submit">Continuar</button>
             </div>
                 </form> 
            </div>
           
        </div>
       </div>
    </div>   
 </div>   