$ColorPrimary : #fff;
 $ColorSecundary : #0076F5;
 $ColorText : #4F4F4F;
 $ColorTextFondo:#fff;
 $FamilyFont : 'Roboto', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body{
    margin: auto;
}

.notValidate{
    border: 1px solid red !important;
    &::placeholder{
       color: red !important;
   }
}
.classError{      
    width:20rem;
   margin:auto;
}

.container{
    color: $ColorText;
    .titleForm p{
        font-size: 12px;
   }
    h2{
        color: $ColorText;
        font-weight: 300;
        span{
            color: $ColorSecundary;
            font-weight: 400;
       }
   }
}